.completed {
  text-decoration: line-through;
}

.error {
  position: fixed;
  z-index: 100;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
  }
}
