<div class="container p-2">
  <button class="btn btn-primary mr-2" (click)="animate()">Animate</button>
  <button class="btn btn-success mr-2" (click)="boxState = 'special'">Special Animation</button>
  <button class="btn btn-secondary mr-2" (click)="visible = !visible">Toggle Visibility</button>
  <div class="wrap">
    <div
      *ngIf="visible"
      [@box]="boxState"
      class="box"
    >
      <h4>{{ boxState | uppercase }}</h4>
    </div>
  </div>
  <app-ng-animate></app-ng-animate>
</div>
